<%= render 'shared/page_title', title: "All Post" %>

<% @posts.each do |post| %>
  <div class="row">
    
    <div class="col-md-2">
      <section class="user_info center">
        <%= gravatar_for post.user, size: 100 %>
        <h5>User name: <%= post.user.username %></h5>
      </section>
    </div>
    
    <div class="col-lg-6 well">
      <h4><%= link_to post.name, post_path(post) %></h4>
      <p><%= post.summary %></p>
      <p>
        <span class='quiet'><small> <%= time_ago_in_words(post.created_at) %> ago</small></span>
      </p>
    </div>
    
    <div class="col-md-4">
      <%= image_tag(post.picture.url, size: "250x150", class: "gravatar") if post.picture? %>
    </div>
    
  </div>
  <hr/>
<% end %>