<%= render 'shared/page_title', title: @post.name %>

<div class="row">
  
  <div class="col-md-4 pull-right center">
    <%= gravatar_for @post.user, size: 200 %>
    <p>
      <h5>Posted by: <%= @post.user.username %></h5>
    </p>
  </div>
  
  <div class="col-md-8">
    <%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-success pull-right" %>
    <h3><%= @post.summary %></h3>
    
    <div class="show_post">
      <%= image_tag(@post.picture.url, class: "gravatar") if @post.picture? %>
    </div>
    
    <div class="well">
      <p>
        <strong>Post:</strong>
      </p>
      <%= simple_format(@post.description) %>
      <div class="pull-right">
        <%= link_to like_post_path(@post, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @post.thumbs_up_total %> 
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_post_path(@post, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @post.thumbs_down_total %>
        <% end %>  
      </div>
    </div>
  </div>
  
</div>

<h5><%= link_to "Return to Posts Pheed", posts_path, class: "btn btn-warning btn-small" %></h5>