<!DOCTYPE html>
<html>
<head>
  <title>LivinRoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-fixed-top navbar-default">
    
    <div class="container">
      
      <%= link_to "Livin Room", "", class: "btn btn-lg btn-success", id: "logo" %>
      
      <div class="nav_item">
        <%= link_to "Styles", "", class: "btn btn-default btn-warning" %>
      </div>
      
      <div class="nav_item">
        <%= link_to "Ingredients", "", class: "btn btn-default btn-warning" %>
      </div>
      
      <div class="nav_item">
        <%= link_to "New Post", "", class: "btn btn-default btn-warning" %>
      </div>
      
      
    </div>
    
  </header>
  
  <div class="container">

    <%= yield %>
    
    
    <div class="footer">
      
      <p>Copyright &copy; 2015 Livin Room. All rights reserved. Terms of Use Privacy Policy </p>
      
    </div>


  </div>


</body>
</html>

